<div class="container">
  <h1>Add New Bug</h1>
  <form #addForm="ngForm" (ngSubmit)="onAddBug(addForm.value)">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" ngModel>
    <label for="status">Status</label>
    <select name="status" id="status" ngModel>
      <option value="Open">Open</option>
      <option value="Closed">Closed</option>
    </select>
    <label for="description">Description</label>
    <textarea name="description" id="description" ngModel></textarea>
    <button type="submit">Add Bug</button>
  </form>
</div>
